######################################################################
#                                                                    #
# .gitconfig DotFile                                                 #
#                                                                    #
######################################################################

[user]
    name  = Ian Warner
    email = ian.warner@drykiss.com